<launch>
	
	<!--Gazebo-->
	<param name="robot_description" textfile="$(find test_gundum_model)/urdf/robot.urdf"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch"></include>
	<node name="spawn" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model test"/>



	<!--RViz-->
	<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="TRUE"/>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args=""/>-->
	
</launch>






